@media (max-width: 1200px) {
  html, body {
    height: 100%;
    margin: 0; /* Remove default margin */
    display: flex;
    flex-direction: column; /* Stack children vertically */
  }

  body {
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
  }

  .about-me {
    background-color: #3333338e; 
    padding: 1rem;
    border-radius: 8px;
    margin: -1rem auto;
    width: 100%;
    max-width: 900px;
    text-align: left;
    transition: 0.5s;
  }

  /* If you have a main content class, set this to allow it to grow and fill space */
  .main-content {
    flex-grow: 1; /* Makes the main content flexible to grow */
  }

  .img-align-skill {
    margin-left: 10rem;
    margin-top: -25rem;
  }

  .imgBG {
    opacity: 70%;
  }

  footer {
    /* Ensure footer is styled correctly */
    /* You can add more styles here like padding, colors, etc. */
    margin-top: auto; /* Make sure footer stays at the bottom */
    padding: -4rem; /* Example padding */
    color: #fff; /* Example text color */
    text-align: center; /* Center text in footer */
  }
}
