/* Resetting margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* Base styles */
html, body {
    scroll-behavior: smooth;
    font-family: 'Ubuntu Mono', monospace;
    background-color: #6E2128;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    scrollbar-color: auto;
    width: .3em;
    background-color: #F0C533;    
    border-radius: 2px;
  } 
  body::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
     border-radius: 8px;
    box-shadow: 0 0 20px #6E2128;
  }

/* Header styling with box-shadow for visibility */
header {
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: #6E2128;
    margin-top: -6rem;
    border-bottom: 3px solid #F0C533;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Box shadow for better visibility */
    z-index: 10; /* Ensures the header stays above other elements */
}


header h1 {
    color: whitesmoke;
    text-shadow: 0 0 10px #F0C533;
    font-size: 2.5rem;
}

/* Adjusting margin for responsive centering */
header h1, header span {
    margin: auto;
}

header span {
    color: #F0C533;
    text-shadow: 0 0 10px black;
    font-size: 2.2rem;
}

/* Navigation bar styling */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding:8px;
}

nav a {
    text-decoration: none;
    color: #F0C533;
    font-weight: bolder;
    font-size: 1.3rem;
    border-radius: 5px;
    transition: 0.3s;
    border: 1px solid #F0C533;
    padding: 5px;
}
nav button {
    text-decoration: none;
    color: #F0C533;
    font-weight: bolder;
    font-size: 1.3rem;
    border-radius: 5px;
    transition: 0.3s;
    border: 1px solid #F0C533;
    padding: 5px;
}

nav p {
    color: #F0C533;
    font-weight: bolder;
}

nav a:hover {
    background-color: #F0C533;
    color: #6E2128;
}
/* Main content background image styling */
#content-header {
    background-image: url(./img/BG.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 400px;
}

/* Welcome header styling */
.header-welcoming {
    background-color: #F0C533;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    padding: 15px;
    color: #6E2128;
    font-size: 2rem;
    text-align: center;
    margin: 6rem auto;
}

/* Button styling */
.BTN-order {
    text-align: center;
    margin: -6rem auto;
}

.BTN-order a {
    transition: 0.3s;
    background-color: #6E2128;
    color: #F0C533;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.6rem;
    box-shadow: 0 0 10px ;
    text-decoration: none; 
  }


.BTN-order a:hover {
    background-color: #F0C533;
    color: #6E2128;
  }
/* Responsive product grid */


  .Products-containerh2{
    background-color: #F0C533;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    padding: 10px;
    color: #6E2128;
    font-size: 2rem;
    text-align: center;
    margin-top: -2rem;
  }
  
  .Products-container {
    display: grid;
    grid-template-columns: 18rem 18rem  18rem 18rem ;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
    max-width: 100%;
    text-align: center;
    overflow-x: scroll !important;
    border-radius:10px ;
    border: 5px #F0C533 solid;
    border-top: none !important ;
  }
  
  .Products-container::-webkit-scrollbar {
    scrollbar-color: auto;
    width: .3em;
    border-radius: 2px;
  } 
  .Products-container::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
    border-radius: 2px;
  }


  .Products-containerh2{
    background-color: #F0C533;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    padding: 10px;
    color: #6E2128;
    font-size: 2rem;
    text-align: center;
    margin-top: -2rem;
  }
  /**Most-order**/
  .Most-order-container {
    display: grid;
    grid-template-columns: 18rem 18rem  18rem 18rem 18rem 18rem ;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
    max-width: 100%;
    text-align: center;
    overflow-x: scroll !important;
    border-radius:10px ;
    border: 5px #F0C533 solid;
    border-top: none !important ;
  }
  
  .card{
    transition: 0.3s;
    background-color: #F0C533;
    width: 18rem;
    box-shadow:  0 0 10px black;
  }
  .card-body a{
    color: #F0C533;
    background-color: #6E2128;
    border: 1px solid #F0C533;
    transition: .5s;
  }
  
  .card-body a:hover{
    color: #6E2128;
    background-color:  #F0C533;
    border: 1px solid #6E2128;
    
  }
.card:hover{
  transform: scale(1.01);
  box-shadow:  0 0 10px #F0C533;
}
hr{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #F0C533;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}
/* Most ordered items section */





/*ABOUT*/

#about-us {
    background-color: #F0C533;
    box-shadow: 0 0 10px #F0C533;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 850px;
    height: 20px;
    line-height: 2rem;
    padding-bottom: 5px;
    border-radius: 10px;
    animation: about-us linear;
    animation-timeline: scroll() ;
  }

@keyframes about-us {
    from {height: 0; }
    to {height:250px;}
  }

  
#about-us h2 {
    background-color: #F0C533;
    box-shadow: 0 0 20px black;
    border-radius: 10px;
    padding: 15px;
    color: #6E2128;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
  }
#about-us p{
    font-size: 1.5rem;
    padding: 5px;
    color: #6E2128;
    font-weight: bolder;
    animation: about-us-P 1s ;
}

@keyframes about-us-P {
  from {opacity: 0; }
  to {opacity:1;}
}


/* Social media icons styling */
.img {
    border-radius: 10px;
    border: 2px solid #73AD21;
    max-height: 30px;
    filter: grayscale(100%);
    transition: filter 0.5s, transform 0.5s;
  }

.img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
  }

/* Footer styling */
footer {
    text-align: center;
    margin-top: 2rem;
    font-size: 12px;
    color: white;
    padding: 10px 0;
    border-top: 3px solid #F0C533;
  }

footer a{
    text-decoration: none;
  }


/****/
input[type=text], input[type=password] , input[type=email]  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #F0C533;
    color: #F0C533 !important;
    border-radius: 10px;
    background-color: #6E2128;
    box-sizing: border-box;
  }


  label {
    color: #F0C533;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: transparent;
    text-decoration: none;
    color: #F0C533;
    font-weight: bolder;
    font-size: 1.3rem;
    border-radius: 5px;
    transition: 0.3s;
    border: 1px solid #F0C533;
    padding: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #F0C533;
    color: #6E2128;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #6E2128;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: auto;
    position: relative;
    width:50%;
    padding-top: 5px;
  }
  
  img.avatar {
    width: 50%;
    border-radius: 100%;
    box-shadow: 0 0 10px #F0C533;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #6E2128;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 3px solid #F0C533;
    border-radius: 10px;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    left: 42rem;
    top: 0;
    color: #F0C533;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    opacity: 0.7;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }


  @media (max-width: 1200px) {

  }
  @media (min-width: 1201px) and (max-width: 1600px){
    .Products-container {
      display: grid;
      grid-template-columns: 18rem 18rem  18rem 18rem 18rem 18rem 18rem;
      justify-content: center;
      align-items: center;
      gap: 5px;
      padding: 5px;
      max-width: 100%;
      text-align: center;
      overflow-x: scroll !important;
      border-radius:10px ;
      border: 5px #F0C533 solid;
      border-top: none !important ;
    }
  }
  
  
  @media (max-width: 992px) {
    header h1 {
      font-size: 1.8rem;
    }
    header span {
      font-size: 1.6rem;
    }
  /* Navigation bar styling */

  /* Main content background image styling */
  #content-header {
      background-image: url(./img/BG.png);
      background-attachment: scroll;
      border-radius: 10px;
      height: 200px;
  }
  
  /* Welcome header styling */
  .header-welcoming {
      padding: 15px;
      font-size: 1.7rem;
      text-align: center;
      margin: 6rem auto;
  }

  /* Button styling */
  .BTN-order {
      text-align: center;
      margin: -6rem auto;
  }
  
  .BTN-order a {
      font-size: 1.2rem;
    }
  /* Featured products section styling */
  
  /* Responsive product grid */
  .Products-container {
    display: grid;
    grid-template-columns: 18rem 18rem;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
    max-width: 100%;
    text-align: center;
    overflow-x: scroll !important;
    border-radius:10px ;
    border: 5px #F0C533 solid;
    border-top: none !important ;
  }
  
  hr{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  /* Most ordered items section */
  #Most-order {
      margin-top: 1rem;
    }
  
  #Most-order figcaption {
      font-size: 1.5rem;
      text-align: center;
      margin-top: -2rem;
      width: auto;
    }
  
  /*ABOUT*/
  #about-us {
      width: 90%;
      height: auto !important;
      line-height: 2rem;
      padding-bottom: 5px;
      border-radius: 10px;
    }
    
  #about-us h2 {
      background-color: #F0C533;
      box-shadow: 0 0 20px black;
      border-radius: 10px;
      padding: 15px;
      color: #6E2128;
      font-size: 1.5rem;
      text-align: center;
      margin-top: 2rem;
    }
  #about-us p{
      font-size: 1.5rem;
      padding: 5px;
  }
  
  }
  
  
  @media (max-width: 768px) {
    header h1 {
      font-size: 1.7rem;
    }
    header span {
      font-size: 1.4rem;
    }
  /* Navigation bar styling */
  nav {
    display: grid;
    text-align: center;
    grid-template-columns: 100px 80px  80px;
    gap: .2em;
    padding:5px;
  }
  
  nav a {
      font-size: 1rem;
      border-radius: 1px;
      padding: 5px;
      border:none !important;
      border-bottom: 1px solid !important;
      
  }
  nav button {
      font-size: 1rem !important;
      border-radius: 1px;
      border:none !important;
      border-bottom: 1px solid !important;
  }
  
  /* Main content background image styling */
  #content-header {
      background-image: url(./img/BG.png);
      background-attachment: scroll;
      border-radius: 10px;
      height: 200px;
  }
  
  /* Welcome header styling */
  .header-welcoming {
      padding: 20px;
      font-size: 1.7rem;
      text-align: center;
      margin: 6rem auto;
  }

  /* Button styling */
  .BTN-order {
      text-align: center;
      margin: -6rem auto;
  }
  
  .BTN-order a {
      font-size: 1.2rem;
    }
    .Products-container {
      display: grid;
      grid-template-columns: 18rem 18rem;
      gap: 5px;
      padding: 5px;

    }
  
  hr{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  /* Most ordered items section */
  
  /*ABOUT*/
  #about-us {
      width: 90%;
      height: auto !important;
      line-height: 2rem;
      padding-bottom: 5px;
      border-radius: 10px;
    }
    
  #about-us h2 {
      background-color: #F0C533;
      box-shadow: 0 0 20px black;
      border-radius: 10px;
      padding: 15px;
      color: #6E2128;
      font-size: 1.5rem;
      text-align: center;
      margin-top: 2rem;
    }
  #about-us p{
      font-size: 1.5rem;
      padding: 5px;
  }
   
  }
  
  
  @media (max-width: 480px) {
    header h1 {
      font-size: 1.7rem;
    }
    header span {
      font-size: 1.4rem;
    }
  /* Navigation bar styling */
    nav {
      display: grid;
      text-align: center;
      grid-template-columns: 100px 80px  80px;
      gap: .2em;
      padding:5px;
    }
  
  nav a {
      font-size: 1rem;
      border-radius: 1px;
      padding: 5px;
      border:none !important;
      border-bottom: 1px solid !important;
      
  }
  nav button {
      font-size: 1rem !important;
      border-radius: 1px;
      border:none !important;
      border-bottom: 1px solid !important;
  }
  
  /* Main content background image styling */
  #content-header {
      background-image: url(./img/BG.png);
      background-attachment: scroll;
      border-radius: 10px;
      height: 200px;
  }
  
  /* Welcome header styling */
  .header-welcoming {
      padding: 25px;
      font-size: 1.5rem;
      text-align: center;
      margin: 6rem auto;
  }
  /* Button styling */
  .BTN-order {
      text-align: center;
      margin: -6rem auto;
  }
  
  .BTN-order a {
      font-size: 1.2rem;
    }
  /* Featured products section styling */
    
  .Products-container {
    display: grid;
    grid-template-columns: 18rem ;
  }

  hr{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  /* Most ordered items section */

  /*ABOUT*/
  #about-us {
      width: 90%;
      height: auto !important;
      line-height: 2rem;
      padding-bottom: 5px;
      border-radius: 10px;
    }
      
    
  #about-us h2 {
      background-color: #F0C533;
      box-shadow: 0 0 20px black;
      border-radius: 10px;
      padding: 15px;
      color: #6E2128;
      font-size: 1.5rem;
      text-align: center;
      margin-top: 2rem;
    }
  #about-us p{
      font-size: 1.5rem;
      padding: 5px;
  }
  
  }
  
  
  @media screen and (min-width: 2560px) and (max-width: 3840px) {

  }
  

  